<%- include('../admininclude/adminnavigation') %>
    <%- include('../admininclude/adminheader') %>
        <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
            <nav class="navbar navbar-expand-lg   mt-3 border rounded-3" style="background-color:#013542 ;">
                <a class="navbar-brand text-white" href="#">New Product</a>






            </nav>
            <section>
                
                <div class="container mt-2">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="jumbotron shadow  bg-white rounded p-4">
                            <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                                <div class="col-md-12">
                                    <label for="">Name</label>
                                    <input type="text" name="Name" class="form-control" required>
                                </div>
                               <div class="col-md-12">
                                <label for="">Choose Category</label>

                                <select name="Category" id="" class="form-control">
                                    <% for(c of category){ %>
                                    <option><%=c.CategoryName %></option>
                                    <%}%>
                                    <!-- <option>Plant</option>
                                    <option>Corporate Gift</option>
                                    <option>Hampers</option> -->
                                </select>
                               </div>
                                <div class="d-flex ">
                                    <div class="col-md-4">
                                        <label for="">Cost</label>
                                        <input type="text" name="CostPrice" class="form-control" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">Price</label>
                                        <input type="text" name="Price" class="form-control" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="">Quantity</label>
                                        <input type="number" name="Quantity" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="">Description</label>
                                <textarea name="Description" id="" cols="30" rows="5" class="form-control" required></textarea>
                                </div>

                               <div class="col-md-12">
                                <label for="">Image</label>
                                <input type="file" class="form-control" name="Image" required multiple>
                               </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-success mt-4 ">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            </section>
        </main>


        <%- include('../admininclude/adminfooter') %>