<body class="animsition">

	<header id="jjsh" class="header-v2">
		<!-- Header desktop -->
		<div class="container-menu-desktop trans-03 ">
			<div class="wrap-menu-desktop   " style="background-color:#013542  ;">
				<nav class="limiter-menu-desktop p-l-45 ">

					<!-- Logo desktop -->
					<a href="/" class="logo">
						<img src="/images/icons/logo-03.png" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu text-white">
							<li class="active-menu">
								<a href="/" class="text-white">Home</a>
								<!-- <ul class="sub-menu">
									<li><a href="index.html">Homepage 1</a></li>
									<li><a href="home-02.html">Homepage 2</a></li>
									<li><a href="home-03.html">Homepage 3</a></li>
								</ul> -->
							</li>

							<li>
								<a href="/shop-products" class="text-white">Shop</a>
							</li>
<!-- 
							<li class="label1 " data-label1="hot">
								<a href="shopi" class="text-white">Features</a>
							</li>

							<li>
								<a href="blog.html" class="text-white">Blog</a>
							</li> -->

							<li>
								<a href="/about" class="text-white">About</a>
							</li>

							<li>
								<a href="contact.html" class="text-white">Contact</a>
							</li>
						</ul>
					</div>

					<!-- Icon header -->

					<div class="wrap-icon-header flex-w flex-r-m h-full">


						


						<div class="dropdown text-center">
							<button style="width:150px ;" class="btn btn-default dropdown-toggle text-white" type="button" data-toggle="dropdown">
								<% if (user) { %>
								<%= user.Name %>
									<%} else { %>
										Account
										<% } %>
							<span class="caret"></span></button>
							<ul class="dropdown-menu dropdown-menu-center text-center">
								<% if (user) { %>
							  <li><a class="text-dark font-weight-bold" href="/logout">Logout</a></li>
							 <hr>
							  <li><a class="text-dark font-weight-bold" href="/my-profile">My Profile</a></li>
							 
							  <%} else { %>
							  <li><a class="text-dark font-weight-bold" href="/login">Login</a></li>
							  <% } %>
							</ul>
						  </div>
						</div>
						
						<div class="flex-c-m h-full p-r-24">
							<div class="icon-header-item  cl2 hov-cl1 trans-04 p-lr-11">
								<!-- <i class="zmdi zmdi-search text-white">jj</i> -->
							</div>
						</div>

						<div id="cartnum" class="flex-c-m h-full p-l-18 p-r-25 bor5">
							<% if (user) { %>
							<%	if(cartNumber>0){ %>
									<div  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
									data-notify="<%= cartNumber %>">
							<%	}else{ %>
									<div  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
									data-notify="0">
							<% } %>
									<%} else { %>
										<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11  js-show-cart"
											data-notify="">

											<% } %>
												<a href="/cart"><i class="zmdi zmdi-shopping-cart text-white"></i></a>
										</div>

								</div>
								<div id="wishnum" class="flex-c-m h-full p-l-18 p-r-25 bor5">
									<% if (user) { %>
										<%	if(wishlistNumber>0){ %>
									<div  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti "
										data-notify="<%= wishlistNumber %>">
										<%} else { %>
											<div  class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti "
										data-notify="0">
										<% } %>
										<%} else { %>
											<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11  "
											data-notify="">
											<% } %>
										<a href="/wishlist"><i class="zmdi zmdi-favorite text-white"></i></a>
									</div>

								</div>

								<!-- <div class="flex-c-m h-full p-lr-19">
							<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-sidebar">
								<i class="zmdi zmdi-favorite text-white"></i>
							</div>
						</div> -->
						</div>

				</nav>
			</div>
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="index.html"><img src="images/icons/logo-01.png" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
				<div class="flex-c-m h-full p-r-10">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 js-show-modal-search">
						<i class="zmdi zmdi-search"></i>
					</div>
				</div>

				<div class="flex-c-m h-full p-lr-10 bor5">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart"
						data-notify="2">
						<i class="zmdi zmdi-shopping-cart"></i>
					</div>
				</div>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="main-menu-m">
				<li>
					<a href="index.html">Home</a>
					<ul class="sub-menu-m">
						<li><a href="index.html">Homepage 1</a></li>
						<li><a href="home-02.html">Homepage 2</a></li>
						<li><a href="home-03.html">Homepage 3</a></li>
					</ul>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="product.html">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">

				</form>
			</div>
		</div>
		<!-- Cart -->
		
	</header>
</body>