<%- include('../include/navigation') %>
    <%- include('../include/header') %>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 mt-5">
                <div>
                    <img src="/user/images/order-success.png" alt="">
                </div>
                <div>
                  
                    <a class="btn btn-success my-3" href="/getorder">View Orders</a>
                </div>
            </div>
        </div>

    </div>

    <%- include('../include/footer') %>