<%- include('../include/navigation') %>

<section class="vh-100" style="background-color: rgb(221, 214, 214);">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100 ">
        <div class="col-lg-12 col-xl-11 ">
          <div class="card text-black " style="border-radius: 25px; background-color: #013542;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4  text-white">Sign up</p>
  
                  <form action="/signup" name="myform" method="post" class="mx-1 mx-md-4" onsubmit="return validateform()">
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-user fa-lg me-3 fa-fw text-white"></i>
                      <div class="form-outline flex-fill mb-0 pt-4">
                        <input type="text" name="Name" id="form3Example1c" class="form-control" placeholder="Your Name" required/>
                        <p class="text-danger" id="nameErr"></p>

                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw text-white"></i>
                      <div class="form-outline flex-fill mb-0 pt-4">
                        <input type="email" name="Email" id="form3Example3c" class="form-control" placeholder="Your Email" required/>
                        <p class="text-danger" id="emailErr"></p>
                       
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-lock fa-lg me-3 fa-fw text-white"></i>
                      <div class="form-outline flex-fill mb-0 pt-4">
                        <input type="password" name="Password" id="form3Example4c" class="form-control" placeholder="Password" required />
                        <p class="text-danger" id="passErr"></p>
                        <p class="text-danger" id="pasErr"></p>

                        
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center ">
                      <i class="fas fa-key fa-lg me-3 fa-fw text-white"></i>
                      <div class="form-outline flex-fill mb-0 pt-4">
                        <input type="password" name="confirmPassword" id="form3Example4cd" class="form-control" placeholder="Confirm Password" required/>
                        <p class="text-danger" id="kuripp"></p>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="bi bi-phone fa-lg me-3 fa-fw text-white mt-4"></i>
                        <div class="form-outline flex-fill mb-0 pt-3">
                          <input name="Number" type="tel" id="form3Example4cd" class="form-control" placeholder="Enter Your Mobile Number" required/>
                          
                        </div>
                      </div>
                      <% if(message.length > 0){ %>
                        <div>
                         <p class="text-danger text-center"> <%= message %></p>
                        </div>
                       <% }%>
                    <div class="form-check d-flex justify-content-center mb-2">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
                    <div class="form-check d-flex justify-content-center mb-2" >
                      <p class="text-white">Already have Account?  <a class="text-white pl-2" href="/login">SignIn</a></p>
                      
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit"  class="btn btn-success btn-lg" onclick="return Validate()">Submit</button>
                      <!-- <a type="submit" href="" class="btn btn-success btn-lg">Submit</a> -->
                    </div> 
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="images/icons/logo-03.png"
                    class="img-fluid" alt="Sample image">
                  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>  
    function validateform(){  
    var name=document.myform.Name.value;  
    var password=document.myform.Password.value; 
    var confirmPassword=document.myform.confirmPassword.value;
    var email= document.myform.Email.value;
      
    if (name==null || name==""){  
       
      document.getElementById("nameErr").innerHTML = "Enter a name"

      return false;  
    }else if(email==null || email==""){
      document.getElementById("emailErr").innerHTML = "Email can't be blank"
      
        // alert("Email can't be blank");  
      return false; 
    }else if(password.length<4){  
      document.getElementById("passErr").innerHTML = "Password must be at least 4 characters long."

      // alert("Password must be at least 4 characters long.");  
      return false;  
      }else if(password.length>11){  
      document.getElementById("pasErr").innerHTML = "Password must maximum 10 characters long"

      // alert("Password must maximum 10 characters long.");  
      return false;  
      }
    }  
    </script>

<script type="text/javascript">
  function Validate() {
      var password = document.myform.Password.value;
      var confirmPassword = document.myform.confirmPassword.value;
      if (password != confirmPassword) {
        document.getElementById("kuripp").innerHTML = "**Password incorrect"
         
          return false;
      }
      return true;
  }
</script>
<%- include('../include/footer') %>

