<%- include('../include/navigation') %>

<section class="vh-120" style="background-color: rgb(221, 214, 214);">
    <div class="container h-100 ">
      <div class="row d-flex justify-content-center align-items-center h-100 ">
        <div class="col-lg-12 col-xl-11 ">
          <div class="card text-black " style="border-radius: 25px; background-color: #013542;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4  text-white">Sign up</p>
  
                  <form action="/signup" name="myform" method="post" class="mx-1 mx-md-4" onsubmit="return validateform()">
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-user fa-lg me-3 fa-fw text-white"></i>
                      <div class="form-outline flex-fill mb-0 pt-4">
                        <input type="text" name="Name" id="Name" class="form-control" placeholder="Your Name" onkeyup="validateName()" />
                        <p class="text-danger text-center font-weight-bold" id="name-error"></p>

                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw text-white"></i>
                      <div class="form-outline flex-fill mb-0 ">
                        <input type="email" name="Email" id="Email" class="form-control" placeholder="Your Email" onkeyup="validateEmail()" />
                        <p class="text-danger text-center font-weight-bold" id="email-error"></p>
                       
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-lock fa-lg me-3 fa-fw text-white"></i>
                      <div class="form-outline flex-fill mb-0 ">
                        <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" onkeyup="validatePassword()"  />
                    
                        <p class="text-danger text-center font-weight-bold" id="pass-error"></p>

                        
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-2">
                      <i class="fas fa-key fa-lg me-3 fa-fw text-white"></i>
                      <div class="form-outline flex-fill mb-0 ">
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" onkeyup="validateConfirm()" />
                       
                        <p class="text-danger text-center font-weight-bold" id="confirmPass-error"></p>
                      </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-2">
                        <i class="bi bi-phone fa-lg me-3 fa-fw text-white mt-4"></i>
                        <div class="form-outline flex-fill mb-0 ">
                          <input name="Number" type="tel" id="Phone" class="form-control" placeholder="Enter Your Mobile Number" onkeyup="validatePhone()" />
                          <p class="text-danger text-center font-weight-bold" id="phone-error"></p>
                        </div>
                      </div>
                      <% if(message.length > 0){ %>
                        <div>
                         <p class="text-danger text-center"> <%= message %></p>
                        </div>
                       <% }%>
                    
                    <div class="form-check d-flex justify-content-center " >
                      <p class="text-white">Already have Account?  <a class="text-white pl-2" href="/login">SignIn</a></p>
                      
                    </div>
                      <p class="text-danger text-center font-weight-bold" id="submit-error"></p>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit"  class="btn btn-success btn-lg" onclick="return validateForm()">Submit</button>
                      
                    </div> 
                  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img  src="images/icons/logo-03.png"
                    class="img-fluid" alt="Sample image">
                  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="/javascript/userjs/signupValidation.js"></script>
  

